.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  min-width: 720px;
  background-color: #1c1c21;
  border-radius: 40px;
  box-shadow:
    0 24px 32px rgb(0 0 0 / 4%),
    0 16px 24px rgb(0 0 0 / 4%),
    0 4px 8px rgb(0 0 0 / 4%),
    0 0 1px rgb(0 0 0 / 4%);
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 40px 40px 0;
}

.title {
  flex-grow: 1;
  margin: 0;
}

.closeButtonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.closeButton:hover {
  opacity: 0.7;
}

.content {
  padding: 0 40px 40px;
}
