.item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: move;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.item:hover {
  transform: translateX(4px);
}

.item svg {
  flex-shrink: 0;
}
